@import "variables.scss";

body {
  margin: 0px;
  padding: 0px;
}
.wrapper {
  height: 100vh;
  width: 100vw;
}
.main {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.head {
  background-color: $headerFooter;
  height: 10%;
}
.foot {
  background-color: $headerFooter;
  height: 10%;
}
